<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport"             content="width=device-width, initial-scale=1"/>
        <meta name="content-language"     content="en" />
        <meta name="language"             content="English" />
        <meta name="description" content="Maxime Clauss, Software &amp; Machine Learning Engineer, Technology Enthusiast" />
        <meta name="keywords" content="machine learning,deep learning,artificial intelligence,software,engineering,engineer,data" />
        <meta name="google-site-verification" content="yfYnKThkUDvFqk1b5Uvr6llw5rIgKacudk9YjhXLNRM" />

        <link rel="icon"                   type="image/png"     href="https://storage.googleapis.com/branding-public-assets/favicon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon"                   type="image/png"     href="https://storage.googleapis.com/branding-public-assets/favicon/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest"               href="https://storage.googleapis.com/branding-public-assets/favicon/manifest.json"/>
        <meta name="theme-color"           content="#ffffff"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet"             type="text/css"      href="main.css"/>
        <title>Maxime Clauss - Personal Page</title>
    </head>
    <body>
        <div id="react" class="content"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="built/bundle.js"></script>

    </body>
</html>
